


h1{
    color: darkblue;
    text-align: center;
}

h2{
    text-align: left;
    color: darkblue;
}
header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: lightblue;
}

#nav-top{
    margin-left: 0;
    width: 100%;
}

nav>ul {
    line-height : 2;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
    display: flex;
}

#ul-menu{
    ;
}


@media all
    and (max-width : 450px){ ul{flex-direction: column}

}

#span-menu-icon {
    height: 1.5rem;
    width: 1.5rem;
}
body {
background-color: floralwhite;
    /* body pour prendre la hauteur de l'écran*/
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-left: 25px;
}
#text-ennui{
    margin: 0;
    border: none;
    text-align: justify;
    color: blueviolet;

}
#img{
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
body{
    display: flex;
    min-height: 100px;
    flex-direction: column;
}
main{
    flex: 1;
    display: flex;
}
#intro{
    display: flex;
}

#images{
    display: flex;
}

.sidebar {

    padding: 0;
    width: 150px;
    height: 100%;
    overflow: auto;
    background-color: snow;
    float: right;
}

/* Active/current link */
.sidebar a.active {
    background-color: snow;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: whitesmoke;
    color: white;
}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 10px;
    padding: 1px 16px;
    height: 1000px;
}
#about{
    display: flex;
}
#content-left{
    margin-left: 25px;
    margin-right: 20px;
}
#content-right{

}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

#text-blog{
margin-left: 2px;
    justify-content: right;
}
#pic_acc {
    object-position: left;
    width: 75px;
    height: 75px;
    vertical-align: center;
}


/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}