<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="/style.css">
    <title>{{ title or metadata.title }}</title>
</head>
<body>
<header>
    <nav id ="nav-top" role="navigation">
        <ul id = "ul-menu" style="display: flex">
            <li><a href="/">Accueil</a></li>
            <li><a href="/about">Blog</a></li>
            <li><a href="/blog/page-0">Style & Garde-robe</a></li>
            <li><a href="/blog/page-0">Les rubriques</a></li>
        </ul>
    </nav>

</header>
<h1>Le magazine des femmes positives</h1>

<main>
    {{ content | safe }}
</main>

<footer>
    <p><a href="https://github.com/jlsgrand/">Retrouvez-moi sur Github</a></p>
</footer>

</body>
</html>